
<section class="card">
  <div class="card-body">
    <h1>¿COMO SE CALCULA EL ISR EN GUATEMALA?</h1>


    <div>
        El cálculo de impuesto sobre la renta (ISR) en Guatemala, esta
        definido en el decreto de ley de irs guatemala decreto 10-2012 y su cálculo
        dependera de los regimenes de impuestos a que se acojan.
    
        <li> Renta de Actividades Lucrativas</li>
        <li> Renta del Trabajo</li>
        <li> Rentas de Capital y Ganancias de Capital.</li>
    </div>
    <h2>¿Cuánto se paga de ISR en el régimen sobre utilidades?</h2>
    <p>Este régimen como su nombre lo indica se calcula sobre la base de las 
        utilidades fiscales o renta imponible en un porcentaje del 25% EJEMPLO:
    </p>
    
    <center><img src="/img/01.PNG" alt="" height=200px></center>

    <h2>¿Cuánto se paga del ISR en el régimen opcional simplificado?</h2>
    <p>Este es el segundo régimen de actividades lucrativas, y su cálculo es el 7%
        sobre la renta imponible.
        <center><img src="/img/02.PNG" alt="" height=200px></center>
    </p>

    <h2>¿Cómo se calcula el ISR de las rentas de trabajo?</h2>
    <p>Si usted es empresario y tiene colaboradores o empleados es importante Quienes
        tengas el conocimiento que debe calcular el ISR de la rentas de trabajo de sus trabajadores.
    </p>
    <p>Todo Empleado debe pagar ISR a travéz de retenciones que le realice su patrono.
    </p>
    <p>El ISR a pagar se establece de la siguiente tabla:</p>
    <center><img src="/img/03.PNG" alt="" height=200px></center>

    <center><p>
        <ul> BASE IMPONIBLE:</ul>
        <li> Renta Bruta - Rentas externas = Renta neta</li>
        <li> Renta neta - deducciónes = renta imponible</li>
    </p></center>
    <center><ul><n>Ejemplo: Pedro tiene un salario mansual de 4,500.00</n> </ul></center>

    <center><img src="/img/04.PNG" alt="" height=400px></center>
  </div>
</section>
