<div class="card card-body p-5 mt-4">
  <h1 class="display-4">UNIVERSIDAD MARIANO GALVÉZ DE GUATEMALA</h1>
  <center><p class="lead">INGENIERÍA EN SISTEMAS DE INFORMACIÓN Y CIENCIAS DE LA COMPUTACÍON</p></center>
  <hr class="my-4" />
  <p>Universidad Mariano Gálvez de Guatemala, es una institución de educación 
    superior, privada, independiente, no lucrativa, que funciona de acuerdo con 
    las leyes propias de su naturaleza institucional, aprobada el 29 de enero de 
    1966 por el Consejo Supremo Universitario de la Universidad de San Carlos de Guatemala.</p>
  <p>Octavo semestre de la carrera de Ingenieria en sistemas sede sololá</p>


  <center><img src="/img/logo.png" alt="" height="300px"></center>
  <center><h4>Octavo Ciclo</h4>
  <h5>Ingeniería en Sistemas Sololá</h5>
  <h4>Desarrollo Web</h4>
  <h4>Ing: Antonio Heriberto Escobar Mendez</h4>
  <p>Estudiantes: </p>
        <h3>Walter Alfredo Canu Chicoj 2290-16-7226</h3>
        <h3>Florinda Xep Lopic 2290-19-3509</h3></center>

        <p>.</p>
        <p>.</p>
 

  <div class="copyright">
						&copy; UMG. Sololá <a href=""></a>2022 <a href=""></a>
					</div>
</div>